body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin: 0;
  }
  
  button {
    padding: 10px;
    font-size: 32px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    display: block;
  }